*

!.gitignore
!sisadmin_testovoe.pdf
!README.md

!task1/
!task1/**
# Файл с логами большой, да и в целом логи кто коммитит-то?
task1/access.log

!task2/
!task2/lsof_list_established_tcp.sh
!task2/Артефакты/
!task2/Артефакты/скрин_логов.png
!task2/README.md

!task3/
!task3/Артефакты/
!task3/README.md
!task3/Артефакты/01-mysql-connections.png
!task3/Артефакты/02-mysql-thread-activity.png
!task3/Артефакты/03-mysql-questions.png
!task3/Артефакты/04-mysql-thread-cache.png

!task4/
!task4/README.md

!task5/
!task5/README.md

!task6/
!task6/deployment.yaml
!task6/service.yaml
!task6/hpa.yaml
!task6/README.md

!/task7/
!/task7/README.md