*

!.gitignore
!sisadmin_testovoe.pdf

!task1/
!task1/**
# Файл с логами большой, да и в целом логи кто коммитит-то?
task1/access.log

!task2/
!task2/lsof_list_established_tcp.sh
!task2/Артефакты/
!task2/Артефакты/скрин_логов.png